<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>NYTimes Scraper</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/scraper.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
<nav class="container navbar navbar-dark bg-light">
  <h1>NY Times Scraper</h1>
    <div class="scrape">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/scrape" class="btn btn-primary">Scrape NY Times</a>
        <a href="/saved" class="btn btn-primary">Saved Articles</a>
    </div>
</nav>
    {{{body}}}

</body>

</html>